<div class="row">
  <div class="col-md6 offset-md3 mt-4 mx-5">
    <h3>Reset Password</h3>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="resetPasswordEmail">Account Email Address</label>
        <input type="email" formControlName="email" class="form-control" id="resetPasswordEmail" placeholder="Enter Email address"
          [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls.email.errors}">
        <div *ngIf="submitted && resetPasswordForm.controls.email.errors" class="invalid-feedback">
          <div *ngIf="resetPasswordForm.controls.email.errors.required">Email is required</div>
          <div *ngIf="resetPasswordForm.controls.email.touched && resetPasswordForm.controls.email.errors">Email is not valid</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Reset Password<i class="fas fa-warehouse"></i></button>
    </form>
  </div>
</div>
